/db.json
/db - Copie.json
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/.name
/.idea/P4.iml
/.idea/.gitignore
